<h2>Edit visit limit</h2>
<form class="signin-form" (submit)="onSend()" [formGroup]="editVisitLimitForm">
  <label>Visits</label>
  <fieldset class="form-group">
    <input type="number" min="0" class="form-control {{editVisitLimitForm.get('visits')?.invalid ? 'is-invalid': 'is-valid'}}" formControlName="visits" placeholder="New visit limit">
    <small>
      0 for infinite
    </small>
  </fieldset>
  <button type="submit" class="mt-2" [disabled]="editVisitLimitForm.invalid" mat-flat-button mat-dialog-close color="primary">Change visit limit</button>
</form>
