<div class="container-fluid main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row col-8 col-sm-8 col-lg-4 infobox p-2">
  <div class="container">
    <h2>Login</h2>
    <form class="signin-form" [formGroup]="signInForm">

        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="info@oncut.me">
          <mat-hint>Enter your email</mat-hint>
        </mat-form-field>
      <mat-icon></mat-icon>
      <mat-icon></mat-icon>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="********">

          <mat-hint>Enter your password</mat-hint>
        </mat-form-field>
      <button mat-icon-button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

        <br>
      <button type="submit" (click)="onLogin()" class="w-50 mt-2" [disabled]="signInForm.invalid" mat-flat-button color="primary">Login</button>
    </form>
    <button mat-button (click)="openForgotPasswordReset()" color="primary">Forgot password</button>
  </div>
  </div>
</div>
