<div class="container">
  <h2>Login</h2>
  <form class="signin-form" (submit)="onLogin()" [formGroup]="signinForm">
    <fieldset class="form-group">
      <label>Email</label>
      <input type="text" class="form-control {{signinForm.get('email')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="email" id="email" placeholder="alice@example.com">
      <small class="invalid-feedback" *ngIf="signinForm.get('email')?.invalid && (signinForm.get('email')?.dirty || signinForm.get('email')?.touched)">
        <small *ngIf="signinForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="signinForm.get('email')?.errors?.['email']">
          This has to be email
        </small>
      </small>
    </fieldset>

    <label>Password</label>
    <fieldset class="form-group">
      <input type="password" class="form-control {{signinForm.get('password')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="password" placeholder="********">
      <small class="invalid-feedback" *ngIf="signinForm.get('password')?.invalid && (signinForm.get('password')?.dirty || signinForm.get('email')?.touched)">
        <small *ngIf="signinForm.get('password')?.errors?.['required']">
          Password is required
        </small>
      </small>
    </fieldset>
    <button type="submit" [disabled]="signinForm.invalid" class="btn btn-success m-2">Login!</button>
  </form>
</div>
