<div class="container">
  <h2>Where should we send password reset link?</h2>
  <form class="signin-form" (submit)="onSend()" [formGroup]="requestPasswordResetForm">
    <fieldset class="form-group">
      <label>Email</label>
      <input type="text" class="form-control {{requestPasswordResetForm.get('email')?.invalid ? 'is-invalid': 'is-valid'}}" formControlName="email" id="email" placeholder="alice@example.com">
      <small class="invalid-feedback" *ngIf="requestPasswordResetForm.get('email')?.invalid && (requestPasswordResetForm.get('email')?.dirty || requestPasswordResetForm.get('email')?.touched)">
        <small *ngIf="requestPasswordResetForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="requestPasswordResetForm.get('email')?.errors?.['email']">
          This has to be email
        </small>
      </small>
    </fieldset>

    <button type="submit" [disabled]="requestPasswordResetForm.invalid" mat-flat-button mat-dialog-close color="primary">Send reset link</button>
  </form>
</div>
