<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto" *ngIf="authenticated">
        <ng-container>
          <li class="nav-item" [ngClass]="getClass('')"><a class="nav-link" [routerLink]="['']">App</a></li>
          <li class="nav-item" [ngClass]="getClass('/urls')"><a class="nav-link" [routerLink]="['dashboard/urls']">URLs</a></li>
          <li class="nav-item" [ngClass]="getClass('/apis')"><a class="nav-link" [routerLink]="['dashboard/api-keys']">API Keys</a></li>
        </ng-container>
      </ul>
    </div>

    <div class="mx-auto order-0">
      <a [routerLink]="['']" class="navbar-brand mx-auto">URL Shortener</a>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto" >
        <ng-container *ngIf="authenticated; else notUser">
          <li><h4 class="navbar-brand mx-auto me-1" matTooltip="{{userInfo}}">Hello, {{user?.name}}!</h4></li>
          <li class="me-1"><button mat-mini-fab color="primary" (click)="openChangePassword()" matTooltip="Change password"><mat-icon> vpn_key</mat-icon></button></li>
          <li class="nav-item" (click)="logout()"><button class="btn btn-danger">Logout</button></li>
        </ng-container>
        <ng-template #notUser>
          <li class="nav-item" [routerLink]="[ location.path() == '/login' ? 'register': 'login' ]"><button class="btn btn-secondary">{{ location.path() == '/login' ? 'Register': 'Login' }}</button></li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
