<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto" *ngIf="authenticated">
        <ng-container *ngIf="0 == 0">
          <li class="nav-item" [ngClass]="getClass('/')"><a class="nav-link" [routerLink]="['']">App</a></li>
          <li class="nav-item" [ngClass]="getClass('/atm')"><a class="nav-link" [routerLink]="['dashboard/atm']">ATM</a></li>
          <li class="nav-item" [ngClass]="getClass('/transfers')"><a class="nav-link" [routerLink]="['dashboard/transfers']">Transfer Money</a></li>
          <li class="nav-item" [ngClass]="getClass('/profile')"><a class="nav-link" [routerLink]="['dashboard/profile']">My profile</a></li>
        </ng-container>
        <ng-container *ngIf="0 == 0">
          <li class="nav-item" [ngClass]="getClass('/admin')"><a class="nav-link" [routerLink]="['dashboard/admin']">Home</a></li>

        </ng-container>
      </ul>
    </div>

    <div class="mx-auto order-0">
      <a [routerLink]="['']" class="navbar-brand mx-auto">URL Shortener</a>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto" >
        <ng-container *ngIf="authenticated; else notUser">
          <a *ngIf="0 == 0" [routerLink]="['dashboard/profile']" class="navbar-brand mx-auto pe-2">Hello, {{user?.name}}!</a>
          <li class="nav-item" (click)="logout()"><button class="btn btn-danger">Logout</button></li>
        </ng-container>
        <ng-template #notUser>
          <li class="nav-item" [routerLink]="[ location.path() == '/dashboard/login' ? 'dashboard/register' : 'dashboard/login' ]"><button class="btn btn-secondary">{{ location.path() == '/dashboard/login' ? 'Register' : 'Login' }}</button></li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
