<div class="container-fluid main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row col-8 col-sm-8 col-lg-4 infobox p-2">
    <div class="container">
      <h2>Reset password</h2>

      <form class="register-form" (submit)="resetPassword()" [formGroup]="resetPasswordForm">

        <div *ngIf="token == null">
          <label>Token</label>
          <fieldset class="form-group">
            <input type="text" class="form-control {{resetPasswordForm.get('token')?.invalid ? 'is-invalid': 'is-valid'}}" formControlName="token" placeholder="Token from email">
            <small class="invalid-feedback" *ngIf="resetPasswordForm.get('token')?.invalid && (resetPasswordForm.get('token')?.dirty || resetPasswordForm.get('token')?.touched)">
              <small *ngIf="resetPasswordForm.get('token')?.errors?.['required']">
                Token is required.
              </small>
            </small>
          </fieldset>
        </div>

        <label>Email</label>
        <fieldset class="form-group">
          <input type="email" class="form-control {{resetPasswordForm.get('email')?.invalid ? 'is-invalid': 'is-valid'}}"  formControlName="email" placeholder="alice@example.com">
          <small class="invalid-feedback" *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)">
            <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
              Email is required.
            </small>
            <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">
              This has to be email
            </small>
          </small>
        </fieldset>

        <label>Password</label>
        <fieldset class="form-group">
          <input type="password" class="form-control {{resetPasswordForm.get('password')?.invalid ? 'is-invalid': 'is-valid'}}" formControlName="password" placeholder="Password">
          <small class="invalid-feedback" *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
              Password is required.
            </small>
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
              Password needs to be at least 8 characters long.
            </small>
          </small>
        </fieldset>

        <label>Repeat password</label>
        <fieldset class="form-group">
          <input type="password" class="form-control {{resetPasswordForm.get('password-repeat')?.invalid || resetPasswordForm.get('password')?.value != resetPasswordForm.get('password-repeat')?.value ? 'is-invalid': 'is-valid'}}" formControlName="password-repeat" placeholder="Repeat password">
          <small class="invalid-feedback" *ngIf="resetPasswordForm.get('password-repeat')?.invalid && (resetPasswordForm.get('password-repeat')?.dirty || resetPasswordForm.get('password-repeat')?.touched)">
            <small *ngIf="resetPasswordForm.get('password-repeat')?.errors?.['required']">
              You need to repeat password
            </small>
          </small>
        </fieldset>
        <button type="submit" class="w-100 mt-2" [disabled]="resetPasswordForm.invalid" mat-flat-button color="primary">Reset password</button>
      </form>
    </div>
  </div>
</div>
