<table class="table table-striped">
  <thead>
  <th scope="col">KEY</th>
  <th scope="col">API CALLS LIMIT</th>
  <th scope="col">API CALLS USED</th>
  <th scope="col">CREATE DATE</th>
  <th scope="col">EXPIRATION DATE</th>
  <th scope="col">ACTION</th>
  </thead>
  <tbody>
  <tr [ngClass]="apiKey.active ? 'table-success' : 'table-danger'">
    <td>{{apiKey.key}}</td>
    <td>{{apiKey.apiCallsLimit}}</td>
    <td>{{apiKey.apiCallsUsed}}</td>
    <td>{{apiKey.createDate | date: 'yyyy-M-d HH:mm:ss'}}</td>
    <td>{{apiKey.expirationDate | date: 'yyyy-M-d'}}</td>
    <td>
      <button class="btn btn-danger" (click)="revoke()" [disabled]="!apiKey.active">Revoke</button>
    </td>
  </tr>
  </tbody>
</table>
<ng-container *ngIf="urls.length; else noUrls">
    <h1>This API key has {{urls.length}} URLs</h1>
    <table class="table table-striped">
      <thead>
      <th scope="col">URL</th>
      <th scope="col">SHORT URL</th>
      <th scope="col">VISITS</th>
      <th scope="col">VISIT LIMIT</th>
      <th scope="col">CREATE DATE</th>
      <th scope="col">LAST ACCESSED</th>
      <th scope="col">ACTIVE</th>
      <th scope="col">ACTION</th>
      </thead>
      <tbody>
      <tr href *ngFor="let url of (urls | getActiveElementsForUrl); let i = index;" [ngClass]="url.active ? 'table-success' : 'table-danger'">
        <td>{{url.longUrl}}</td>
        <td>{{url.shortUrl}}</td>
        <td>{{url.visits}}</td>
        <td>{{url.visitLimit}}</td>
        <td>{{url.createDate | date: 'yyyy-M-d HH:mm:ss'}}</td>
        <td>{{url.lastAccessed | date: 'yyyy-M-d HH:mm:ss'}}</td>
        <td>{{url.active}}</td>
        <td>
          <button class="btn btn-danger" (click)="revokeUrl(url.id)" [disabled]="!url.active">Revoke</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noUrls>
    <h2>This API key doesn't have any URL!</h2>
  </ng-template>
  <button class="btn btn-info" (click)="back()">Back</button>
